{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}

<body>
    <div class="container">
        <div>
            <div class="row py-lg-5">
                <div class="col-3 d-none d-lg-block">
                </div>
                
                <div class="col-md-6  mt-2" >
                    <div class="col  mt-3 " style=" box-shadow: 15px 25px 10px rgba(6, 13, 27, 0.5); border-radius: 50px 20px;" >
                        <div class="col form-area card" style="border-radius: 20px;" >
                            <h3 class="text-center">Welcome Back <i class="fa-regular fa-face-grin-tears mt-4"></i></h3>
                            <form class="mt-5 container form-control" action="" method="POST">
                                {% csrf_token %}
    
                            <!-- Email input -->
                            {{form | crispy}}
                            
                            <!-- Submit button -->
                            <button type="submit" class="btn  btn-lg mt-5  mb-4 btn-block fw-bold" style="background-color: #19455f; color: white;">Log in</button>
                        <div class="mt-4 text-center ">
                        <p>Dont have an account? <a href="{% url 'register' %}" class="sign fw-bold">Sign up</a></p>
                        </div>
                    
                            
                            </form>

                            
                    </div>
                    
                </div>

            </div>
            <div class="col-2"></div> 
        </div>
        </div>
    </div>
</body>



{% endblock %}