{% extends 'base.html' %}
{% load static %}
{% block title %}
    Job details
{% endblock %}

{% block content %}

{% load django_bootstrap5 %}
    <section class="bg-light-gray">
        <div class="container">
            <h2 class="heading text-center">{{ job.title }}<br>
            </h2>
            <p class="text-center">Posted by: {{job.poster}}</p>
            <div class="job-detail-description text-center">
                <i class="fa fa-map-marker job__location"> </i>
                {{ job.location }} | Posted {{ job.pub_date|timesince }} |
                
                <span style="color: #17d8d8;">{{job.jobtype}}</span>
                
                <div><a href="{{job.siteurl}}" class="btn btn-outline-dark btn-sm m-1 loc-list">Apply</a>
                    {% if job.poster == user %}
                    <a href="{% url 'job-update' job.id %}" class="btn btn-outline-success btn-sm m-1 loc-list">Update</a>
                    
                    <a href="{% url 'job-delete' job.id %}" class="btn btn-outline-danger btn-sm m-1 loc-list">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h3>Category: {{ job.category }}</h3>
                    <blockquote class="blockquote">
                        <p>{{ job.description }}</p>
                    </blockquote>
                    
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

{% endblock %}