

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
<title>Post</title>
</head>

<body id="mainjob" >

    <div  class="container">
    <div id="darker-div" class="phone-app-ddemo">
    <div class="form-data card" style="margin-left: 30px; align-items: center;border:1px solid #ccc; border-radius: 5px;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
        
            {{pf_form|crispy}}
            {{l_form|crispy}}
        <button class="btn btn-dark mb-5 mt-3" type="submit">Post</button>
        
        </form>
        
    </div>
    </div>



</div>

</body>

</html>
{% endblock content %}